.parent-container{
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    animation: fadein 1s;
}

form {
  border: 3px solid #f1f1f1;
}

.container {
  padding: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.login-button {
    width: 100%;
}

.cancel-button {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.register-button{
    width: 100%;
    margin-bottom: 1px;
}

.cancel-register {
    width: 100%;
    background-color: #f44336;
    color: white;
    padding: 14px 0px;
    margin-top: 0px;
    margin-bottom: 1px;
    border: none;
}

.password-recovery {
  display: block;
  float: right;
}

.field-icon{
    float: right;
    margin-left: -25px;
    margin-top: 20px;
    margin-right: 7px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.field-icon2{
    float: right;
    margin-left: -25px;
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.first-last-name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
